body {
  margin: 0;
  font-family: Arial;
}

.hidden {
  display: none;
}

/* LOGIN */
#login {
  text-align: center;
  margin-top: 120px;
}

/* APP */
#app {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 260px;
  background: #f0f0f0;
  padding: 10px;
}

.profile img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

/* CHAT */
.chat {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.message {
  padding: 6px;
  margin: 4px 0;
  border-radius: 5px;
  background: #ddd;
}

.inputBox {
  display: flex;
}

.inputBox input {
  flex: 1;
  padding: 10px;
}

.inputBox button {
  padding: 10px;
}

.emoji {
  padding: 5px;
  cursor: pointer;
}

/* THEMES */
body.dark {
  background: #1e1e1e;
  color: white;
}

body.dark .sidebar {
  background: #333;
}

body.cartoon {
  background: #fff6c9;
}
